.w-auto {
	width: auto;
}

.w-full {
	width: 100%;
}

.w-50 {
	width: 50%;
}

.h-auto {
	height: auto;
}

.h-full {
	height: 100%;
}

.h-screen {
	height: 100vh;
}

.min-h-screen {
	min-height: 100vh;
}
